.top-0 {
    top: 0%;
}

.top-5 {
    top: 5%;
}

.top-10 {
    top: 10%;
}

.top-15 {
    top: 15%;
}

.top-20 {
    top: 20%;
}

.top-25 {
    top: 25%;
}

.top-30 {
    top: 30%;
}

.top-35 {
    top: 35%;
}

.top-40 {
    top: 40%;
}

.top-45 {
    top: 45%;
}

.top-50 {
    top: 50%;
}

.top-55 {
    top: 55%;
}

.top-60 {
    top: 60%;
}

.top-65 {
    top: 65%;
}

.top-70 {
    top: 70%;
}

.top-75 {
    top: 75%;
}

.top-80 {
    top: 80%;
}

.top-85 {
    top: 85%;
}

.top-90 {
    top: 90%;
}

.top-95 {
    top: 95%;
}

.top-100 {
    top: 100%;
}

.start-0 {
    left: 0%;
}

.start-5 {
    left: 5%;
}

.start-10 {
    left: 10%;
    
}

.start-15 {
    left: 15%;
}

.start-20 {
    left: 20%;
}

.start-25 {
    left: 25%;
}

.start-30 {
    left: 30%;
}

.start-35 {
    left: 35%;
}

.start-40 {
    left: 40%;
}

.start-45 {
    left: 45%;
}

.start-50 {
    left: 50%;
}

.start-55 {
    left: 55%;
}

.start-60 {
    left: 60%;
}

.start-65 {
    left: 65%;
}

.start-70 {
    left: 70%;
}

.start-75 {
    left: 75%;
}

.start-80 {
    left: 80%;
}

.start-85 {
    left: 85%;
}

.start-90 {
    left: 90%;
}

.start-95 {
    left: 95%;
}

.start-100 {
    left: 100%;
}

.size-h-0 {
    height: 0%;
    width: auto;
}

.size-h-5 {
    height: 5%;
    width: auto;
}

.size-h-10 {
    height: 10%;
    width: auto;
}

.size-h-15 {
    height: 15%;
    width: auto;
}

.size-h-20 {
    height: 20%;
    width: auto;
}

.size-h-25 {
    height: 25%;
    width: auto;
}

.size-h-30 {
    height: 30%;
    width: auto;
}

.size-h-35 {
    height: 35%;
    width: auto;
}

.size-h-40 {
    height: 40%;
    width: auto;
}

.size-h-45 {
    height: 45%;
    width: auto;
}

.size-h-50 {
    height: 50%;
    width: auto;
}

.size-h-55 {
    height: 55%;
    width: auto;
}

.size-h-60 {
    height: 60%;
    width: auto;
}

.size-h-65 {
    height: 65%;
    width: auto;
}

.size-h-70 {
    height: 70%;
    width: auto;
}

.size-h-75 {
    height: 75%;
    width: auto;
}

.size-h-80 {
    height: 80%;
    width: auto;
}

.size-h-85 {
    height: 85%;
    width: auto;
}

.size-h-90 {
    height: 90%;
    width: auto;
}

.size-h-95 {
    height: 95%;
    width: auto;
}

.size-h-100 {
    height: 100%;
    width: auto;
}

.size-w-0 {
    height: auto;
    width: 0%;
}

.size-w-5 {
    height: auto;
    width: 5%;
}

.size-w-10 {
    height: auto;
    width: 10%;
}

.size-w-15 {
    height: auto;
    width: 15%;
}

.size-w-20 {
    height: auto;
    width: 20%;
}

.size-w-25 {
    height: auto;
    width: 25%;
}

.size-w-30 {
    height: auto;
    width: 30%;
}

.size-w-35 {
    height: auto;
    width: 35%;
}

.size-w-40 {
    height: auto;
    width: 40%;
}

.size-w-45 {
    height: auto;
    width: 45%;
}

.size-w-50 {
    height: auto;
    width: 50%;
}

.size-w-55 {
    height: auto;
    width: 55%;
}

.size-w-60 {
    height: auto;
    width: 60%;
}

.size-w-65 {
    height: auto;
    width: 65%;
}

.size-w-70 {
    height: auto;
    width: 70%;
}

.size-w-75 {
    height: auto;
    width: 75%;
}

.size-w-80 {
    height: auto;
    width: 80%;
}

.size-w-85 {
    height: auto;
    width: 85%;
}

.size-w-90 {
    height: auto;
    width: 90%;
}

.size-w-95 {
    height: auto;
    width: 95%;
}

.size-w-100 {
    height: auto;
    width: 100%;
}

.zin-1 {
    z-index: -1;
}

.zin-2 {
    z-index: -2;
}

.zin-3 {
    z-index: -3;
}

.zin-4 {
    z-index: -4;
}

.zin-5 {
    z-index: -5;
}

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-4 {
    z-index: 4;
}

.zi-5 {
    z-index: 5;
}

.to-top-25{
    transform: translate(0%, -25%);
}
.to-top-50{
    transform: translate(0%, -50%);
}
.to-top-75{
    transform: translate(0%, -75%);
}

.to-bottom-25{
    transform: translate(0%, 25%);
}
.to-bottom-50{
    transform: translate(0%, 50%);
}
.to-bottom-75{
    transform: translate(0%, 75%);
}

.to-start-25{
    transform: translate(-25%, 0%);
}
.to-start-50{
    transform: translate(-50%, 0%);
}
.to-start-75{
    transform: translate(-75%, 0%);
}

.to-end-25{
    transform: translate(25%, 0%);
}
.to-end-50{
    transform: translate(50%, 0%);
}
.to-end-75{
    transform: translate(75%, 0%);
}

.rotate-z-5{
    transform: rotateZ(5deg);
}
.rotate-z-15{
    transform: rotateZ(15deg);
}
.rotate-z-30{
    transform: rotateZ(30deg);
}
.rotate-z-45{
    transform: rotateZ(45deg);
}
.rotate-z-90{
    transform: rotateZ(90deg);
}

.rotate-zn-5{
    transform: rotateZ(-5deg);
}
.rotate-zn-15{
    transform: rotateZ(-15deg);
}
.rotate-zn-30{
    transform: rotateZ(-30deg);
}
.rotate-zn-45{
    transform: rotateZ(-45deg);
}
.rotate-zn-90{
    transform: rotateZ(-90deg);
}