<section
        class="row px-5 py-1 justify-content-lg-between justify-content-md-between justify-content-sm-center justify-content-center g-0">
        <div class="text-white text-center text-lg-start text-md-start text-sm-center 
                  col-lg-3 col-md-3 col-sm-6 col-6 px-0 py-0">
            <p class="subt-3 montserrat-regular">Legal</p>
            <div class="row gy-2 pe-3">
                <a href="#" class="text-white txt-1 montserrat-light link-footer">Aviso de privacidad</a>
            </div>
        </div>
        <div class="text-white text-center text-lg-start text-md-start text-sm-center
                  col-lg-2 col-md-2 col-sm-6 col-6 px-0 py-0">
            <p class="subt-3 montserrat-regular">Plataformas</p>
            <div class="row gy-2">
                <a href="/plataformas/brand_social.html" class="text-white txt-1 montserrat-light link-footer">Brand Social</a>
                <a href="/plataformas/mobile.html" class="text-white txt-1 montserrat-light link-footer">Mobile</a>
                <a href="/plataformas/gaming.html" class="text-white txt-1 montserrat-light link-footer">Gaming</a>
                <a href="/plataformas/video.html" class="text-white txt-1 montserrat-light link-footer">Video</a>
                <a href="/plataformas/new_web.html" class="text-white txt-1 montserrat-light link-footer">New Web</a>
                <a href="/plataformas/audio.html" class="text-white txt-1 montserrat-light link-footer">Audio</a>
            </div>
        </div>
        <div class="text-white text-center jus
                  col-lg-4 col-md-4 col-sm-12 col-12 p-0">
            <p class="subt-3 montserrat-regular">Siguenos</p>
            <div
                class="row justify-content-lg-center justify-content-md-between justify-content-sm-center justify-content-between px-sm-5 px-5 g-0 px-md-3">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="https://www.facebook.com/ntpmediamx">
                        <img src="/public/img/FB logo.png" class="rs-logo" height="75%" width="auto">
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="https://www.instagram.com/ntp_media_oficial/">
                        <img src="/public/img/IG logo.png" class="rs-logo" height="75%" width="auto">
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="https://www.linkedin.com/company/ntp-media-latam/">
                        <img src="/public/img/Linked In logo.png" class="rs-logo" height="75%" width="auto">
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#">
                        <img src="/public/img/WA logo.png" class="rs-logo" height="75%" width="auto">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 p-0 position-relative">
            <div class="px-5 py-1 align-top">
                <img src="/public/img/logo blanco 2024.png" width="80%" class="p-0">
            </div>
        </div>
    </section>